:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
img {
  display: block;
  max-width: 100%;
}

.search-form {
    height: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(102, 51, 62);
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
    font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
}
.submit_btn{
    display: block;
    margin-left: 30px;
  text-align: center;
  padding: 10px 32px;
  color: white;
  background-color: rgb(200, 150, 161);
  box-shadow: 0px 4px 4px rgba(52, 11, 11, 0.15);
  border-radius: 4px;
  border-color: rgb(102, 51, 62);
  font-weight: 700;
  font-size: 16px;
}
.submit_btn:hover {
    background-color: rgb(172, 117, 129); 
    transform: scale(1.03);
}

.gallery {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;
  gap: 10px;

  margin: 30px auto 30px auto;
}
.gallery__item {
  text-decoration: none;
  width: 340px;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.gallery__item:hover {
  transform: scale(1.03);
}
.photo-card {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  margin-top: auto;
  display: flex;
}

.info-item {
  text-align: center;
  color: black;
}

.load-more {
    margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px 32px;
  color: white;
  background-color: rgb(102, 51, 62);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: rgb(102, 51, 62);
  font-weight: 700;
  font-size: 16px;
  opacity: 0;
}
.load-more:hover {
    background-color: rgb(83, 40, 49);
    transform: scale(1.03);
}
